.header-part{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-system);
}
.header-layout{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    .header-left {
        padding-left: 10px;
        align-items: center;
        .Select {
            margin-left: 10px;
            width: 200px;
        }
    }

    .header-right {
        align-items: center;
        padding-right: 10px;
        .Text {
            margin-right: 10px;
        }
    }
}