.loggin-page{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}
.loggin-layout{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.loggin-page-title{
    width: max-content;
}
.loggin-page-form{
    .TextField {
        width: 300px;
        margin: 10px;
    }
    .Button {
        width: 300px;
        margin: 10px;
    }
}