.objects-part {
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-default);
}
.objects-part-header{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid var(--color-bg-system);

    .Text {
        margin-left: 10px;
    }
}
.objects-tree{
    color: white;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    .rctr--RcTree-treenode-selected {
        background-color: var(--color-bg-link);
        .rctr--RcTree-node-content-wrapper{
            background-color: none !important;
        }
    }
    .rctr--RcTree-title {
        font-size: 16px;
    }
}
.objects-part-container{
    width: 100%;
    height: 100%;
}