.main-page {
    width: 100%;
    height: 100%;
}

.main-page-header {
    width: 100%;
    height: 7%;
    min-height: 60px;
}

.main-page-container {
    width: 100%;
    height: 93%;

    .main-page-left {
        width: 20%;
        min-width: 340px;
        height: 100%;
    }

    .main-page-right {
        width: 80%;
        height: 100%;
    }
}